{% extends "base.html" %}

{% block content %}
<div class="table-menu">
  <div class="table-menu-title">
    Page {{ page_number }}
  </div>

  <div class="table-menu-title">
    {{ rows_per_page }} rows/page
  </div>

  <div class="table-menu-title page-controller">
    <button name="btn-prev">Prev</button>
    <button name="btn-next">Next</button>
  </div>
</div>
<table>
    <thead>
        <tr>
            <th scope="col">Profile Pic</th>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td data-label="Profile Pic"><img src="{{ user.img_url }}" class="profile-pic"></td>
            <td data-label="Id">{{ user.id }}</td>
            <td data-label="Username"><a target="_blank" href="{{ user.profile_url }}">{{ user.username }}</a></td>
            <td data-label="Type">{{ user.user_type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="table-menu">
  <div class="table-menu-title">
    Page {{ page_number }}
  </div>

  <div class="table-menu-title">
    {{ rows_per_page }} rows/page
  </div>

  <div class="table-menu-title page-controller">
    <button name="btn-prev">Prev</button>
    <button name="btn-next">Next</button>
  </div>
</div>
{% endblock %}
